<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" ResponseEncoding="UTF-8" Src="" Inherits="" Debug="True" Description="Template description here." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>

<%-- 注册 定义的成员变量 --%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="DB" Description="请选择名的数据来源" %>
<%@ Property Name="RootTableSpaceName" Type="System.String" Default="com.scm.{modelname模块名称}." Optional="False" Category="Context" Description="源码输出的模块名称" %>
<%@ Property Name="StructPrefix" Type="System.String" Default="Scm" Optional="False" Category="Context" Description="Struct前缀" %>

<%-- 启用 MAP方式 System-CSharpAlias  --%>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Map Name="JavaAlias" Src="System-JavaAlias.csmap" Description="Oracle to Java Type Map" %>

<script runat="template">
<!-- #include file=getNamefunction.cs -->
</script>
var situation;//url传的参数条件
var urldevices;
$(function () {
    $.ajaxSetup({
        async: false,
        cache: false
    });
   
    searchFun();  
});


function initTable(queryData) {
    $('#dg<%= ModelName(SourceTable.Name)%>').datagrid({
        loadMsg: "数据加载中,请稍候……",
        url: '/web1/<%=StructPrefix%>Query<%= ModelName(SourceTable.Name)%>.action',
        width: "auto",
        height: Math.max(document.body.scrollHeight, document.documentElement.scrollHeight) - 87,
        iconCls: 'icon-save',
        pageSize: 10,
        nowrap: true,
        fitColumns: true,
        singleSelect:true,
        striped: true,
        collapsible: true,
        pagination: true,
        rownumbers: true, //行号
        idField: '<%= GetMemberVariableName(SourceTable.Columns[0].Name) %>',
        sortName: 'fincreaseid',
        sortOrder: 'desc',
        queryParams: queryData,  //异步查询的参数
        onLoadSuccess: function (data) {
           
        },
        columns: [[
            { field: "ck", checkbox: true },
            <% for (int i = 1; i < SourceTable.Columns.Count; i++) {%>
            {
                field: '<%= GetMemberVariableName(SourceTable.Columns[i].Name) %>', title: '<%= SourceTable.Columns[i].Name%>', width: 60, align: 'center', formatter: function (value) {
                    return value;
                }
            }
             <% if (i <  SourceTable.Columns.Count-1) {%>            
            ,
             <% } %>
             <% } %>           
      ]],              
        toolbar: "#div_Menu"
    });
}

function searchFun() {
    var queryData = {
//    	 "user.id": $("#txtFname").val(),	
//       "user.name": $("#txtFname").val(),
//       "user.Mobile": $("#txtFMobile").val(),
//       "user.Adress": $("#txtFAddress").val()
    };
    initTable(queryData);
}

//修改分组的信息
function UpdateInfo() {
    //首先取出来用户选择的数据的ID
    var rows = $("#dg<%= ModelName(SourceTable.Name)%>").datagrid("getSelections");
    //首先取出来值判断用户只能选择一个
    if (rows.length != 1) {
        $.messager.alert("提示", "每次只能修改一条，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条。", "error");
        return;
    }

    //处理修改的信息，弹出修改的对话框,然后显示选择的分组的详细信息             
    $('#div_Add<%= ModelName(SourceTable.Name)%>').dialog('open');
    //绑定修改显示详细信息的方法
    BindShowUpdateInfo();
}

//绑定修改显示详细信息的方法
function BindShowUpdateInfo() {
    //首先用户发送一个异步请求去后台实现方法
    var ID = $("#dg<%= ModelName(SourceTable.Name)%>").datagrid("getSelections")[0].<%= GetMemberVariableName(SourceTable.PrimaryKey.MemberColumns[0].Name)%>;  //获取到了用用户选择的ID  
    $.post("/web1/<%=StructPrefix%>Find<%= ModelName(SourceTable.Name)%>.action", { "<%= GetMemberVariableName(ParameterName(SourceTable.Name))%>.<%= GetMemberVariableName(SourceTable.PrimaryKey.MemberColumns[0].Name)%>": ID }, function (cbData) {
    	//debugger;
        <% foreach (ColumnSchema column in this.SourceTable.Columns) { %> 
        $("#<%= GetMemberVariableName(column.Name) %>").val(cbData.<%= GetMemberVariableName(ParameterName(SourceTable.Name))%>.<%= GetMemberVariableName(column.Name) %>); 
        <% } %>

    });
}


function clearbox() {
    $('#searchForm input').val('');   
    searchFun();
}

function add(id) {
    $("#frm<%= ModelName(SourceTable.Name)%> input,textarea").val('');	
    $('#div_Add<%= ModelName(SourceTable.Name)%>').dialog('open');
}
//实现分组的修改
function Add<%= ModelName(SourceTable.Name)%>() {
	
	 if($("#frm<%= ModelName(SourceTable.Name)%>").form('validate')==false)
	 {
	   return ;
	 }	
	//debugger;
    //if ($("#fname").val().length == 0) {
    //    $.messager.alert("提示", "请输入user.name！", "info");
    //    return;
    //}
    //获取需要传递的参数传递给前台
    var postData = $("#frm<%= ModelName(SourceTable.Name)%>").serializeArray();
    
    //$.messager.alert("提示", postData, "info");
    //发送异步请求到后台保存分组数据
    $.post("/web1/<%=StructPrefix%>Add<%= ModelName(SourceTable.Name)%>.action", postData, function (data) {
    	//debugger;   	
        if (data.success == true&& data.errcode==0) {
            //添加成功  1.关闭弹出层，2.刷新DataGird
        	 $.messager.alert('提示', data.message, 'info');

            $("#div_Add<%= ModelName(SourceTable.Name)%>").dialog("close");
            refresh();
            $("#frm<%= ModelName(SourceTable.Name)%> input,textarea").val('');
        }
        else {
           $.messager.alert('提示', data.message, 'error');
        }
    });
}
//实现删除数据
function Delete<%= ModelName(SourceTable.Name)%>() {
    //得到用户选择的数据的ID
    var rows = $("#dg<%= ModelName(SourceTable.Name)%>").datagrid("getSelections");
    //首先判断用户是否已经选择了需要删除的数据,然后循环将用户选择的数据传递到后台
    if (rows.length >= 1) {
        //遍历出用户选择的数据的信息，这就是用户选择删除的分组ID的信息
        var ids = "";   //1,2,3,4,5
        var names = "";
        for (var i = 0; i < rows.length; i++) {
            //异步将删除的ID发送到后台，后台删除之后，返回前台，前台刷洗表格
            ids += rows[i].<%= GetMemberVariableName(SourceTable.PrimaryKey.MemberColumns[0].Name)%> + ",";
            //获取用户选择的分组信息
            names += rows[i].fname + ",";
        }
        //最后去掉最后的那一个,
        ids = ids.substring(0, ids.length - 1);
        names = names.substring(0, names.length - 1);
        var postData = {
        		"<%= GetMemberVariableName(ParameterName(SourceTable.Name))%>.<%= GetMemberVariableName(SourceTable.PrimaryKey.MemberColumns[0].Name)%>": ids
        };

        //然后确认发送异步请求的信息到后台删除数据
        $.messager.confirm("删除信息", "您确认删除<font color='red' size='3'>" + names + "</font>吗？", function (DeleteUser) {
            if (DeleteUser) {
                $.post("/web1/<%=StructPrefix%>Delete<%= ModelName(SourceTable.Name)%>.action", postData, function (data) {
                	debugger;
                	if (data.success == true && data.errcode ==0) {
                        //添加成功  1.关闭弹出层，2.刷新DataGird
                    	$.messager.alert('提示', data.message, 'info');
                        refresh();
                        rows.length = "";
                    }
                    else {
                        $.messager.alert("提示", data.message, "error");
                    }
                });
            }
        });
    }
    else {
        $.messager.alert("提示", "请选择你要删除的数据！", "info");
    }
}


function refresh() {
    $("#dg<%= ModelName(SourceTable.Name)%>").datagrid('reload');
    $("#dg<%= ModelName(SourceTable.Name)%>").datagrid('clearSelections');
}

function cancel() {    
    $('#div_Add<%= ModelName(SourceTable.Name)%>').dialog('close');
}
/*
-- struct action
<action name="<%=StructPrefix%>" class="SP<%=StructPrefix%>Action" method="List">
    <result>/SCM/<%= ModelName(SourceTable.Name)%>.jsp</result>
</action> 
 
<action name="<%=StructPrefix%>*" class="SP<%=StructPrefix%>Action" method="{1}">
	<result type="json">
		<param name="root">dataMap</param>
	</result>	
</action>	
---
-- spring action
<bean id="SP<%=StructPrefix%>Action" class="service.<%= ModelName(SourceTable.Name)%>Impl"  scope="prototype">
	 <property name="<%= GetMemberVariableName(ParameterName(SourceTable.Name)) %>Dao" ref="ref<%=StructPrefix%>Dao"></property>
</bean>
 	
<bean name="ref<%=StructPrefix%>Dao" class="dao.<%= ModelName(SourceTable.Name)%>DaoIml">
</bean>	
---
*/