<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" ResponseEncoding="UTF-8" Src="" Inherits="" Debug="True" Description="Template description here." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>

<%-- 注册 定义的成员变量 --%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="DB" Description="请选择名的数据来源" %>
<%@ Property Name="RootTableSpaceName" Type="System.String" Default="com.scm.{modelname模块名称}." Optional="False" Category="Context" Description="源码输出的模块名称" %>

<%-- 启用 MAP方式 System-CSharpAlias  --%>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Map Name="JavaAlias" Src="System-JavaAlias.csmap" Description="Oracle to Java Type Map" %>

<script runat="template">
<!-- #include file=getNamefunction.cs -->

//Debugger.Break();


</script>

<%-- 启用 MAP方式 System-CSharpAlias  --%>
package <%=RootTableSpaceName%>;

import java.io.Serializable;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;

/**
 * <p>Title: ejb title </p>
 * <p>Description: <%=SourceTable.Name%> MODEL 处理类</p>
 * @author yangqinxu 电话：137****5317
 * @version 1.0 时间  <%= DateTime.Now.ToString()%>
 */
@SuppressWarnings("serial")  
@Entity
@Table(name = "<%= SourceTable.Name%>")
public class <%= ModelName(SourceTable.Name)%>   implements Serializable {
	<%--private static final long serialVersionUID = -3307895529384707655L; --%>	    
	<%-- 成员变量 --%>
    <% foreach (ColumnSchema column in this.SourceTable.Columns) 
    { 
    %>
    <%if (column.IsPrimaryKeyMember) {%> 
    @Id
    <% } %>
    <%--判断如果是主键 返回该注解(用于在JAVA中映射)--%>
	@Column(name = "<%= column.Name %>")
	private <%= JavaAlias[column.SystemType.FullName]%> <%= GetMemberVariableName(column.Name) %>;
    
    <% 
    } // end foreach (ColumnSchema column in this.SourceTable.Columns) 
    %>

	<% foreach (ColumnSchema column in this.SourceTable.Columns) 
    { 
    %>
	public <%= JavaAlias[column.SystemType.FullName]%> <%= getFunctionMemberVariableName(column.Name)%>() {
		return <%= GetMemberVariableName(column.Name)%>;
	}
    
	public void <%= setFunctionMemberVariableName(column.Name)%>(<%= JavaAlias[column.SystemType.FullName]%> <%= GetMemberVariableName(column.Name)%>) {		     
         this.<%= GetMemberVariableName(column.Name)%> = <%= GetMemberVariableName(column.Name)%>;
	}
    <% 
    } 
    %>	
	public String toString() {
		// TODO Auto-generated method stub
		return null;
	}

	public boolean equals(Object o) {
		// TODO Auto-generated method stub
		return false;
	}

	public int hashCode() {
		// TODO Auto-generated method stub
		return 0;
	}
}
