* {
	font-family: Tahoma,Verdana,??????,??????; font-size: 12px;
}
body {
	margin: 0px auto; font-size: 12px;
}
ul {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
ul {
	list-style: none;
}
img {
	border: 0px currentColor;
}
.clearfloat {
	height: 0px; line-height: 0px; clear: both; font-size: 1px;
}
.searchBar {
	background: 0px 0px rgb(239, 239, 239); padding: 10px;
}
a {
	color: black; text-decoration: none;
}
a:hover {
	color: red; text-decoration: underline;
}
.textbox03 {
	padding: 4px 3px; border: 1px solid rgb(135, 135, 135); width: 190px; height: auto; line-height: 14px; font-size: 14px; font-weight: bold; background-color: rgb(255, 255, 255);
}
.txt01 {
	border-width: 1px; border-color: rgb(221, 221, 221); padding: 3px 2px 2px; color: rgb(0, 0, 0);
}
.txt {
	padding: 4px 3px; border: 1px solid rgb(135, 135, 135); height: auto; line-height: 14px; font-size: 14px; background-color: rgb(255, 255, 255);
}
.easyui-accordion ul {
	margin: 0px; padding: 10px; list-style-type: none;
}
.easyui-accordion ul li {
	padding: 0px;
}
.easyui-accordion ul li a {
	line-height: 24px;
}
.easyui-accordion ul li div {
	margin: 0px; padding-left: 10px; font-size: 12px;
}
.easyui-accordion ul li div.hover {
	background: rgb(224, 236, 255); border: 1px dashed rgb(153, 187, 232); cursor: pointer;
}
.easyui-accordion ul li div.hover a {
	color: rgb(65, 106, 163);
}
.easyui-accordion ul li div.selected {
	background: rgb(224, 236, 255); border: 1px solid rgb(153, 187, 232); cursor: default;
}
.easyui-accordion ul li div.selected a {
	color: rgb(65, 106, 163); font-weight: bold;
}
.easyui-accordion .arrows-default {
	left: 0px; top: inherit; position: absolute; clip: rect(0px, 16px, 18px, 0px);
}
.easyui-accordion .arrows-selected {
	left: -16px; top: inherit; position: absolute; clip: rect(0px, 32px, 18px, 16px);
}
.easyui-accordion .arrows-default:hover {
	left: -32px; top: inherit; position: absolute; clip: rect(0px, 48px, 18px, 32px);
}
.easyui-accordion .arrows-selected:hover {
	left: -48px; top: inherit; position: absolute; clip: rect(0px, 64px, 18px, 48px);
}
.panel {
	background-position: 0px 100%; display: block; background-repeat: repeat-x;
}
.panel .panelHeader {
	height: 28px; padding-left: 5px; display: block;
}
.panel .panelHeaderContent {
	background-position: 100% -50px; height: 28px; padding-right: 5px; display: block;
}
.panel .panelHeaderContent h1 {
	background-position: 0px -100px; padding: 0px 5px; height: 28px; line-height: 28px; overflow: hidden; display: block; background-repeat: repeat-x;
}
.panel .panelContent {
	border-width: 0px 1px; border-style: solid; padding: 5px 5px 1px; overflow: auto; display: block;
}
.panel .panelFooter {
	background-position: 0px -150px; height: 5px; overflow: hidden; padding-left: 5px; display: block;
}
.panel .panelFooterContent {
	background-position: 100% -200px; height: 5px; overflow: hidden; padding-right: 5px; display: block;
}
.panel .collapsable {
	top: 4px; width: 20px; height: 21px; right: 4px; text-indent: -1000px; overflow: hidden; display: block; position: absolute;
}
.panel .expandable {
	top: 4px; width: 20px; height: 21px; right: 4px; text-indent: -1000px; overflow: hidden; display: block; position: absolute;
}
.panel .collapsable:hover {
	background-position: 0px -50px;
}
.panel .expandable {
	background-position: 0px -100px;
}
.panel .expandable:hover {
	background-position: 0px -150px;
}
.toolbar {
	margin: 5px; padding: 10px; border: 1px solid rgb(191, 216, 224); background-color: rgb(249, 252, 253);
}
.grid {
	font: 12px/normal arial, helvetica, sans-serif; border: 1px solid rgb(141, 178, 227); font-size-adjust: none; font-stretch: normal;
}
.grid td {
	font: 100%/normal arial, helvetica, sans-serif; padding: 5px; height: 24px; font-size-adjust: none; font-stretch: normal;
}
.grid {
	width: 100%; border-collapse: collapse;
}
.grid th {
	background: rgb(231, 243, 254); border: 1px solid rgb(141, 178, 227); height: 27px; line-height: 27px; padding-left: 5px;
}
.grid td {
	border: 1px solid rgb(141, 178, 227); padding-left: 5px;
}
.grid2 {
	border: 1px solid rgb(191, 216, 224); font-size: 12px; border-collapse: collapse;
}
.grid2 td {
	padding: 3px; border: 1px solid rgb(191, 216, 224);
}
.grid2 th {
	padding: 3px; border: 1px solid rgb(191, 216, 224);
}
.grid2 th {
	background: url("../Images/thbg.gif") repeat-x rgb(240, 245, 252); height: 20px;
}
.grid2 tr {
	
}
.tr-odd {
	background-color: white;
}
.tr-even {
	background-color: rgb(249, 252, 253);
}
.tr-active {
	background-color: rgb(255, 247, 153);
}
.tr-select {
	background-color: rgb(183, 201, 233);
}
.btchax {
	background: url("../Images/chax.gif") no-repeat; padding: 0px 0px 0px 16px; border: currentColor; width: 70px; height: 21px; color: rgb(0, 51, 153); cursor: pointer;
}
.tableForm {
	
}
.tableForm th {
	font: 12px/normal Verdana; text-align: right; font-size-adjust: none; font-stretch: normal;
}
.tableForm td {
	
}
.tableForm input {
	width: 150px;
}
.tableCss {
	background: rgb(239, 239, 239);
}
.tableCss th {
	background: rgb(239, 239, 239); font: bold 12px/normal Verdana, Arial, Helvetica, sans-serif; margin: 2px; padding: 5px; text-align: right; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
.tableCss td {
	background: rgb(248, 251, 251); margin: 2px; padding: 5px; border: 1px solid rgb(226, 245, 188); color: rgb(79, 107, 114); font-size: 14px;
}
.logo {
	background: rgb(210, 224, 242);
}
.footer {
	margin: 0px; padding: 0px; text-align: center; color: rgb(21, 66, 139); line-height: 23px; font-weight: bold;
}
.info {
	background: rgb(255, 254, 230); padding: 12px; color: rgb(143, 87, 0);
}
.tip {
	width: 24px; height: 16px; float: left;
}
.fieldset {
	margin: 1px 5px 2px; padding: 0px; border: 1px dashed rgb(204, 204, 204);
}
.legend {
	background: rgb(255, 255, 255); color: rgb(0, 102, 204); font-weight: 800;
}
.addContent {
	margin: 10px; padding: 5px 5px 15px; border: 1px solid rgb(220, 220, 220); min-width: 600px;
}
.contentBody {
	min-height: 900px;
}
.overflow-hidden {
	overflow: hidden;
}
.chart-width {
	width: 92% !important;
}
.chart-width-1 {
	width: 96% !important; height: 96% !important;
}
.a_left {
	height: 40px;
}
